
.container {
  margin-top: 20px;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }

  .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    color: #922610;
  }
  
  .wrapper {
    margin: 5px auto 0;
    background: #FDF1DC;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.15);
    position: relative;
    width: 100%;
    max-width: 600px;
  }
  
  input {
    background-color: #FDF1DC;
    width:100%;
    border: none;
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
    padding: 0 10px;
    border-radius: 5px 5px 0 0;
    transition: border-radius .2s linear;
  }

  input::placeholder{
    font-family: 'IM Fell Great Primer', serif;
  }
  
  input:focus {
    outline: none;
  }
  
  .results {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #FDF1DC; 
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.15); 
    z-index: 10;
  }
  
  .results ul {margin: 0; padding: 0; }
  .results ul li {
    list-style: none;
    border-radius: 3px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 2px 30px;
    padding: 8px 12px;
    transition: all .2s linear;
    border-top: 1px solid black;
    
  }

  .show-results input {
    border-radius: 5px 5px 0 0;
  }

  .show-results .results {
    display: block;
    padding: 10px;
    width: ;
    
  }
  
  .results img {
    width: 60px;
    height: 60px;
    display: flex;
    align-self: center;
  }
  
  .show .results {
    padding: 10px;
  }
  
  .results ul li:hover {
    background: #ca775a;
  }

  .selected-monsters {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
    
  }

  .selected-monsters-outer {
    margin-top: 30px;
    background: hsla(167, 10%, 60%, 1);
    border-radius: 5px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
  }

  .selected-monsters-inner {
    display: block;
    padding: 12px 42px;
    border-radius: 5px;
    font-size: 1.25rem;
    font-family: 'IM Fell Great Primer', serif;
    background: hsla(157, 10%, 51%, 1);
    color: white;
    transform: translateY(-6px);
    transition: transform 1s ease-in-out;
  }

  .selected-monsters-outer:active .selected-monsters-inner {
    transform: translateY(-2px);
    transition: transform 1s ease-in-out;
  }

  .selected-monsters-inner:hover {
    background-color: #ca775a;
    border-color: black;
    color: black;
    transition: 0.5s;
  }

  .selected-monsters-outer:hover {
    background-color: black;
    border-color: black;
    color: black;
    transition: 0.5s;
  }

 

  .mashed-monster-container {
     display: flex;
    flex-direction: column;
    justify-content: flex-end;  
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;

  }

  .highlighted {
    background-color: #ca775a;
    color: #fff;
  }


  @media screen and (min-width: 768px) {
    .wrapper {
      max-width: 800px; 
    }
  }

  @media screen and (min-width: 1200px) {
    .wrapper {
      max-width: 1200px; 
    }
  }