.header {
    background-color: #7a5b6f;
    padding: 1rem;
  }

nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
  
  .header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .header li {
    margin-right: 1rem;
    padding-right: 5px;
  }
  
  .header a {
    color: #FDF1DC;
    text-decoration: none;
    font-size: 18px;
  }
  
  .header .active {
    font-weight: bold;
  }
  
  .header a:hover {
    color: #ca775a;
    transition: 0.4s;
  }

.logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 10px;
}


.logo {
    width: 100px;
    height: auto;
}

.title {
   color: #FDF1DC;
}