.header {
    background-color: #7a5b6f;
    padding: 1rem;
  }

nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
  
  .header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .header li {
    margin-right: 1rem;
    padding-right: 5px;
  }
  
  .header a {
    color: #FDF1DC;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }


  
  .header .active {
    font-weight: bolder;
    border-bottom: 2px solid #ca775a;
    
  }
  
  .header a:hover {
    color: #ca775a;
    transition: 0.4s;
  }

.logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}


.logo {
    width: 100px;
    height: auto;
}

.title {
   color: #FDF1DC;
   font-size: 40px;
}

@media screen and (max-width: 425px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .header ul {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header li {
    margin-right: 0;
    padding-right: 0;
  }
  
  .header a {
    font-size: 16px;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .logo {
    width: 100px;
    height: auto;
  }
  
  .title {
    color: #FDF1DC;
    font-size: 40px;
  }
}