.stat-block {
  text-align: left;
  margin: 20px;
  display: inline-block;
  vertical-align: top;
  width: 17%;
  min-width: 280px;
  background: #FDF1DC;
  padding: 5px 10px 20px;
  box-shadow: 0 0 1.5em #867453;
  visibility: hidden;
  border: 1px solid black;
  border-radius: 4px;
  

  
}

  .stat-block.visible {
    visibility: visible;
    
    
  }

  .stat-block.wide {
    width: 46.5%;
    min-width: 560px;
    text-align: center;
  }
  
  .stat-block.wide .section-left,
  .stat-block.wide .section-right {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    text-align: left;
  }
  
  .stat-block.wide .section-left {
    margin-right: 1.5%;
  }
  
  .stat-block.wide .section-right {
    margin-left: 1.5%;
  }
  
  @media screen and (max-width: 675px) {
    .stat-block.wide {
      min-width: 280px;
    }
  
    .stat-block.wide .section-left,
    .stat-block.wide .section-right {
      display: block;
      width: 100%;
    }
  
    .stat-block.wide .section-left {
      margin: 0;
    }
  
    .stat-block.wide .section-right {
      margin: 0;
    }
  }
  
  .stat-block .name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .stat-block .name span {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .stat-block .name h1 {
    font-family: 'Libre Baskerville', 'Lora', 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
    color: #922610;
    font-size: 23px;
    line-height: 1.2em;
    margin: 0;
    letter-spacing: 1px;
    font-variant: small-caps;
    font-weight: bold;
  }
  
  .stat-block .name button {
    background: transparent;
    color: #922610;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
  }

  .stat-block .name button:hover {
    background: #922610;
    color: #FDF1DC;
  }
  
  .stat-block .property-line {
    margin-bottom: 10px;
  }
  
  .stat-block .property-line h4,
  .stat-block .property-line p {
    display: inline;
    margin: 0;
    color: #922610;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2em;
  }
  
  .stat-block .property-line h4 {
    color: #7A200D;
  }
  
  .stat-block .property-line p {
    margin-left: 10px;
  }

  .stat-block .last {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #7A200D;
  }

  .stat-block .abilities {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 10px;
  }
  
  .stat-block .abilities .property-line {
    display: grid; 
    grid-template-rows: auto auto;
    align-items: center;
    text-align: center;
  }
  
  .stat-block .abilities .property-line h4 {
    color: #7A200D;
    margin: 0;
  }
  
  .stat-block .abilities .property-line p {
    margin: 0;
    font-weight: bold;
    color: #922610;
    font-size: 13.5px;
    line-height: 1.2em;
  }
  
  .stat-block .actions {
    margin-top: 20px;
  }
  
  .stat-block .actions h3 {
    border-bottom: 1px solid #7A200D;
    color: #7A200D;
    font-size: 21px;
    font-variant: small-caps;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 0 0 10px;
    padding: 0 0 10px;
    text-indent: 5px;
  }
  
  .stat-block .property-block {
    padding-top: 10px;
  }
  
  .stat-block .property-block p {
    margin-bottom: 5px;
  }

  .close-btn {
    color: #922610;
    font-size: 30px;
    font-weight: bold;
    font-family: 'IM Fell Great Primer', serif;;
    cursor: pointer;
    margin-left: 10px;
  }
  


   